snippet ()
$1 () {
  $2
}
endsnippet

snippet l
console.log($1)
endsnippet

snippet mo
mounted () {
	$1
},
endsnippet

snippet da
data () {
	return {
	  $1
	}
},
endsnippet

snippet me
methods: {
	$1
},
endsnippet
