[submodule "bundle/Vundle"]
	path = bundle/Vundle
	url = https://github.com/VundleVim/Vundle.vim
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
